.page-btn {
	align-items: center;
	background-color: var(--accent);
	border: none;
	box-shadow: var(--box-shadow);
	color: var(--subtext);
	display: flex;
	font-size: 1rem;
	padding: 0.2rem 0.8rem;
	user-select: none;
}

.pagination-container {
	display: flex;
	justify-content: space-between;
	margin: 2rem 2rem 5rem 2rem;
	max-width: 1400px;
	@media only screen and (max-width: 900px) {
		margin: 2rem 1rem 5rem 1rem;
	}
}
