.filters {
	align-items: center;
	background-color: var(--background);
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
	.search-container {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 23%;
	}
	.search-label {
		margin-bottom: 0;
		margin-right: 0.5rem;
	}
	.search-input {
		background-color: var(--background);
		border: 1px solid var(--accent);
		box-shadow: var(--box-shadow);
		color: var(--text);
		padding: 0.15rem 1rem;
	}
	.search-btn {
		background-color: var(--accent);
		border: none;
		box-shadow: var(--box-shadow);
		color: var(--subtext);
		font-size: 1rem;
		min-width: 6ch;
		padding: 0.2rem 1rem;
		width: 30%;
	}
	.reset-container {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 5%;
	}
	.reset-btn {
		background-color: var(--accent);
		border: none;
		box-shadow: var(--box-shadow);
		color: var(--subtext);
		font-size: 1rem;
		min-width: 6ch;
		padding: 0.2rem 1rem;
	}
	.filter {
		padding-right: 1.5rem;
		width: 24%;
	}
	.filter-arrow {
		border-color: var(--text) transparent transparent;
	}
	.filter-main {
		background-color: var(--accent);
		border: none;
		box-shadow: var(--box-shadow);
		color: var(--text);
		cursor: pointer;
	}
	.filter-menu {
		box-shadow: var(--box-shadow);
		font-weight: bold;
	}
	@media only screen and (max-width: 600px) {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.filter {
			padding-right: 0;
			width: 100%;
		}
		.search-container {
			margin-top: 1rem;
			width: 100%;
		}
		.reset-container {
			margin-top: 1rem;
			width: 100%;
		}
	}
}
