@import '../../styles/colors.scss';

.filters {
	align-items: center;
	background-color: var(--background);
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
	.search-container {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 25%;
	}
	.search-label {
		margin-bottom: 0;
		margin-right: 0.5rem;
	}
	.search-input {
		color: var(--text);
	}
	.search-btn {
		background-color: var(--accent);
		border: none;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		color: var(--subtext);
		font-size: 1rem;
		min-width: 6ch;
		width: 30%;
	}
	.filter {
		padding-right: 1.5rem;
		width: 25%;
	}
	.filter-main {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}
	.filter-menu {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		font-weight: bold;
	}
}
