.table-element-container {
	.table-element {
		background-color: #363636;

		.table-element-head-row {
			background-color: #444444;
		}

		.table-element-row {
			border-bottom: 1px solid #000;
		}

		.table-element-cell-button {
			background-color: #000;
			border: 1px solid #000;
			color: #fff;
			font-size: 2rem;
			margin-right: 0.5rem;
			padding: 0.5rem 1rem 0.5rem 0.25rem;
			text-align: left;
			text-transform: capitalize;
		}

		.table-element-cell {
			color: #fff;
			font-size: 1rem;
			padding: 0.5rem 1rem 0.5rem 0.5rem;
		}
	}
}
