.table-element-container {
	width: 100%;
	@media only screen and (max-width: 900px) {
		overflow-x: scroll;
		width: 100vw;
	}
	.table-element {
		background-color: var(--background);
		width: 100%;

		.table-element-head-row {
			background-color: var(--background);
		}

		.table-element-row {
			border-bottom: 1px solid var(--accent);
			&:hover {
				background-color: var(--accent);
				.table-element-cell {
					a {
						color: #000;
					}
				}
			}
		}

		.table-element-cell-button {
			background-color: var(--background);
			border: 1px solid var(--accent);
			box-shadow: var(--box-shadow);
			color: var(--text);
			font-size: 2rem;
			padding: 0.5rem;
			text-align: left;
			text-transform: capitalize;
			width: 100%;
			&:hover {
				background-color: var(--accent);
				box-shadow: none;
			}
		}

		.table-element-cell {
			color: var(--text);
			font-size: 1rem;
			padding: 0.5rem;
			width: 20%;
			&.state {
				width: 10%;
			}
			&.telephone {
				width: 15%;
			}
			&.genre {
				width: 30%;
			}
		}
		.table-element-cell-link {
			color: var(--link);
			font-size: 1.1rem;
			text-decoration: underline;
		}
	}
}
