.restaurant-detail {
	max-width: 1400px;
	width: 100%;

	.title {
		align-self: flex-start;
		margin-bottom: 2rem;
	}

	.content {
		background-color: var(--background);
		color: var(--text);
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 1rem;
		width: 100%;
		.content-title {
			border-bottom: 2px solid var(--accent);
			margin-bottom: 1.5rem;
			width: fit-content;
		}
		dd {
			color: var(--subtext);
			text-transform: capitalize;
		}
		.content-address {
			p {
				margin-bottom: 0;
			}
			.content-address-title {
				font-weight: bold;
			}
		}
	}
}
