@import '../../styles/colors.scss';

.restaurant-detail {
	max-width: 1400px;
	width: 100%;

	.title {
		align-self: flex-start;
		margin-bottom: 2rem;
	}

	.content {
		background-color: $background;
		color: $text;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 1rem;
		width: 100%;
		.content-title {
			margin-bottom: 1.5rem;
		}
		dd {
			color: $subtext;
		}
		.content-address {
			p {
				margin-bottom: 0;
			}
			.content-address-title {
				font-weight: bold;
			}
		}
	}
}
